*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row{
    height: 50%;
    width: 100%;
}

.row:nth-child(1){
    background: #136a8a;
    background: linear-gradient(to right, #151516ef, #12141dde);
    flex-direction: column;
    position: relative;
}

.row:nth-child(1) h3{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: -4%;
    margin-bottom: -12%;
}

.line{
    height: 10px;
    background: linear-gradient(to right, red, blue);
    border-radius: 30px;
    width: 680px;
}

.para{
    width: 70%;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.425);
    margin-top: -3%;
    font-size: 30px;
    height : 60px;
    float: left;
}

.words{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: white;
    display : inline-block;
    transition: padding-bottom 0.2s ease-out;
}

.words:nth-child(1){
    font-size: 45px;
    padding-bottom: 13px;
    color: green;
}



.timer{
    position: absolute;
    bottom: 20%;
    right: 1%;
    height: 45%;
    width: 10%;
    flex-direction: column;
    box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.363);
    background-color: rgb(70, 70, 224);
    -webkit-box-reflect: below 1px linear-gradient(transparent , rgba(32, 30, 30, 0.158));
}

.timer span{
    height: 40%;
    width: 60%;
    color: white;
    font-size: 49px;
}



.timer-info{
    margin-top: -31%;
    margin-bottom: -20%;
    color: white;
    font-size: 15px;
    padding: 0px 26px ;
}

.row:nth-child(2){
    background-color: rgb(201, 212, 201);
    flex-direction: column;
}

.row:nth-child(2) h4{
    font-size: 22px;
    color: rgb(76, 53, 226);
    margin-top: -7%;
}

.row:nth-child(2) input{
    font-size: 30px;
    outline: none;
    margin-top: -16%;
    height: 60px;
    padding-left: 50px;
}

.alert{
    display: none;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(6px);
}

.inner-alert{
    height: 60%;
    width: 35%;
    /* background-image: linear-gradient(to right bottom, #031838 , #004d7a, #002f93, #0f3c9c , #1282eb); */
    background: linear-gradient(to right bottom , red, blue);
    flex-direction: column;
    border-radius: 30px;
}

.timeup{
    color: whitesmoke;
    text-transform: capitalize;
    font-size: 50px;
}

.alerth , .wpm{
    font-size: 20px;
    color: white;
}

.count{
    font-size: 30px;
    margin-top: -40px;
    font-weight: bold;
}

.wpmNumber{
    color: white;
}

.restart{
    text-decoration: none;
    background: rgb(205, 50, 71);
    color: white;
    font-size: 27px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 2px rgba(15, 14, 14, 0.726);
    letter-spacing : 2px;
}





