*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}



.center{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row{
    height: 50%;
    width: 100%;
}

.row:nth-child(1){
    height: 40%;
    background: #136a8a;
    background: linear-gradient(to right, #151516ef, #12141dde);
    flex-direction: column;
    position: relative;
}

.row:nth-child(1) h3{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    top: 2%;
    left: 20%;
}

.line{
    height: 7px;
    background: linear-gradient(to right, red, blue);
    border-radius: 30px;
    width: 680px;
    position: absolute;
    top: 10%;
    left: 17%;
}

.para{
    width: 70%;
    color: rgba(255, 255, 255, 0.425);
    margin-top: 0%;
    font-size: 30px;
    height : 60px;
    float: left;
    position: absolute;
    bottom: 13%;
    left: 17%;
}

.words{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    color: white;
    display : inline-block;
    margin-left: 10px;
    transition: padding-bottom 0.2s ease-out;
}

.words:nth-child(1){
    font-size: 45px;
    padding-bottom: 13px;
    color: green;
}



.timer{
    position: absolute;
    bottom: 30%;
    right: 33%;
    height: 35%;
    width: 30%;
    flex-direction: column;
    box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.363);
    background-color: rgb(70, 70, 224);
    border-radius: 150px;
}

.timer span{
    height: 40%;
    width: 60%;
    color: white;
    font-size: 74px;
}



.timer-info{
    margin-top: -31%;
    margin-bottom: -20%;
    color: white;
    font-size: 15px;
    padding: 0px 26px ;
}

.row:nth-child(2){
    height: 60%;
    background-color: rgb(201, 212, 201);
    flex-direction: column;
    position: relative;
}

.row:nth-child(2) h4{
    font-size: 32px;
    color: rgb(76, 53, 226);
    position: absolute;
    top: 7%;
    left: 20%;
}

.row:nth-child(2) input{
    font-size: 40px;
    outline: none;
    height: 60px;
    padding-left: 50px;
    position: absolute;
    top: 20%;
}

.alert{
    display: none;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(6px);
}

.inner-alert{
    height: 40%;
    width: 55%;
    background: linear-gradient(to right bottom , red, blue);
    flex-direction: column;
    border-radius: 30px;
    position: absolute;
    top: 20%;
}

.timeup{
    color: whitesmoke;
    text-transform: capitalize;
    font-size: 90px;
}

.alerth , .wpm{
    font-size: 40px;
    color: white;
}

.count{
    font-size: 60px;
    margin-top: -40px;
    font-weight: bold;
}

.wpmNumber{
    color: white;
}

.restart{
    text-decoration: none;
    background: rgb(205, 50, 71);
    color: white;
    font-size: 47px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 2px rgba(15, 14, 14, 0.726);
    letter-spacing : 2px;
}





